<div>
	<% for rfid in @item.rfids %>
		<strong>Color:</strong>
		<%= rfid.color %>
		<br>
		<strong>Size:</strong>
		<%= rfid.size %>
		<br>
		<strong>Location Specific:</strong>
		<%= rfid.location_specific %>
		<br>
		<strong>Location:</strong>
		<%= location_specific(rfid.location_general) %>
	<% end %>
</div>